<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button class="back-home-btn" (click)="volverAlInicio()">
      <i class="fa fa-arrow-left"></i> Volver al inicio
    </button>
    <div class="background">
      <!-- Video de fondo -->
      <video autoplay muted loop playsinline class="background-video">
        <source src="/TAROT.webm" type="video/webm" />
        <source src="/TAROT.mp4" type="video/mp4" />
        Tu navegador no soporta videos HTML5.
      </video>

      <h1>¿Sobre qué tema deseas consultar?</h1>
      <div [@fadeIn] class="content-container" id="startContainer">
        <button
          id="start-button-amor"
          class="start-button-amor"
          (click)="startTarot('amor')"
        >
          Amor
        </button>
        <button
          id="start-button-dinero"
          class="start-button-dinero"
          (click)="startTarot('dinero')"
        >
          Dinero
        </button>
        <button
          id="start-button-futuro"
          class="start-button-futuro"
          (click)="startTarot('futuro')"
        >
          Futuro
        </button>
      </div>
    </div>
  </body>
</html>
